.singlecomment.com{"data-id" => comment.id}
  .commenter
    = link_to "#{comment.user.name}:", comment.user
  .commentpost
    = "#{comment.comment}"
  .commentedit
    -if comment.user == current_user
      &nbsp;&nbsp;
      = link_to "Edit", edit_weight_comment_path(comment.weight.id, comment.id)
      / make a button
      =" | "
      =link_to 'X', weight_comment_path(comment.weight.id, comment.id), method: :delete, remote: true
    -elsif comment.weight.user == current_user
      %br
      =link_to 'X', weight_comment_path(comment.weight.id, comment.id), method: :delete, remote: true