
.row
  .backs.large-12.columns
    .large-3.columns
      -if @user.pic_url.nil?
        =image_tag("mickey-mouse-large.jpg")
      -else
        %img{src: @user.pic_url}   
    .large-9.columns
      .row
        .large-3.columns
          %h4.subheader Name
        .large-9.columns
          %h3= @user.name
      .row
        .large-3.columns
          %h4.subheader Email
        .large-9.columns
          %h3= @user.email
      .row
        .large-3.columns
          %h4.subheader Goal Weight
        .large-9.columns
          -if @user.goal
            %h3= @user.goal
          -elsif current_user == @user
            %h3=link_to "add goal weight", edit_user_registration_path
      .row
        .large-3.columns
          %h4.subheader BMI
        .large-9.columns
          %h3="#{@bmi} #{@bmi_translation}"   
  .large-6.columns.no-right-pad
    .backs.no-margin
      %h3 Past Weights
      #chart-box
        %canvas#lineChart{height: "400", width: "450"}
      
      %h2 Friends
      %ul
        - for friendship in @user.friendships
          %li
            = h friendship.friend.name
            (#{link_to "remove", friendship, :method => :delete})
      %p= link_to "Find Friends", users_path
      %h2 Friended by Users
      %ul
        - for user in @user.inverse_friends
          %li= h user.name
  .large-6.columns.no-right-pad
    .backs.no-margin
      - @weights.each do |weight|
        = render "weights/weight", weight: weight
    
= javascript_include_tag "Chart.js"
=render "linechart"
