%br
%br
.row
  .large-3.columns
    = image_tag @user.pic
  .large-9.columns
    .row
      .large-3.columns
        %h4.subheader Name
      .large-9.columns
        %h3= @user.name
    .row
      .large-3.columns
        %h4.subheader Email
      .large-9.columns
        %h3= @user.email
    .row
      .large-3.columns
        %h4.subheader Goal Weight
      .large-9.columns
        %h3= @user.goal
  .large-12.columns
    -if @user ==current_user
      .form
        %button.weight_button Enter new weight
        .form_div
          =render "weights/form"
  .large-9.columns
    .row
      %h2 Friends
      %ul
        - for friendship in @user.friendships
          %li
            = h friendship.friend.name
            (#{link_to "remove", friendship, :method => :delete})
      %p= link_to "Find Friends", users_path
      %h2 Friended by Users
      %ul
        - for user in @user.inverse_friends
          %li= h user.name
  .large-9.columns
    .row
    - @weights.reverse.each do |weight|
      -if @user == weight.user
        = render "weights/weight", weight: weight
