= form_for [weight, @comment] do |f| 
  / - if @comment.errors.any?
  /   #error_explanation
  /     %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
  /     %ul
  /       - @comment.errors.full_messages.each do |msg|
  /         %li= msg

  .field
    = f.label :comment
    = f.text_field :comment

    = f.hidden_field :user_id, value: current_user.id
    
    = f.hidden_field :friend_id, value: weight.user.id

    = f.hidden_field :weight_id, value: weight.id
  .actions
    = f.submit 'Submit'