= form_for(@weight, remote: true) do |f| 
  .field
    = f.label :weight
    = f.number_field :weight
    = f.label :pic
    = f.file_field :pic
    = f.hidden_field :date, value: Date.today.to_time.strftime("%A, %m/%d/%y")
  .actions
    = f.submit 'Submit'

