.weight-box.weightid{"data-id" => weight.id}
  .profile-info.columns.large-12
    .first-inner-box.large-3
      .weight-box-profile_pic= image_tag weight.user.pic
      .spacing
    .inner-box.large-6
      .weight-box-name= link_to weight.user.name, user_path(weight.user.id)
      .weight-box-info
        .weight 
          Current Weight: 
          %span.weight-num #{weight.weight}
        .weight 
          Goal Weight: 
          %span.weight-num #{weight.user.goal}
        .weight
          Date: #{weight.date} 
  %br
  %br
  
  .comment-box
    Comments:
    %br 
    .form
      %button.weight_button Enter comment
      .form_div
        = render "comments/form", weight: weight, comment: @comment
    .weight-box-comments    
      - weight.comments.reverse.each do |comment|
        = render "weights/comment", comment: comment
  = render "weights/editting", weight: weight