%h1 Individual Post
.row
  .large-9.large-centered.columns
    Name: #{@weight.user.name}
    %br/ 
    Goal: #{@weight.user.goal}
    %br/ 
    Weight on #{@weight.date}: #{@weight.weight}
    %br/ 
    / =image_tag @weight.pic
    %img{src: @weight.pic_url(:large)}
    %br/ 
    = render "comment", weight: @weight   
    %br/  
    = render "editting", weight: @weight
    %br/