<!DOCTYPE html>
<html>
<head>
  <title>Weightable</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if notice || alert %>
    <div class="row">
      <div class="large-12 columns">
        <p class="notice">
          <%= notice %>
        </p>
        <p class="alert">
          <%= alert %>
        </p>
      </div>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
